<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mnist homepage</title>
</head>
<body bgcolor = "#161F25">
<font color="E8EBEC" size = "10"><B><div style = "padding-left:5%; padding-top:5%;">Welcome, this is mnist homepage!</div></B></font>
<br/>
<h3><font color="#B5C0C2" size = "6"><div style = "padding-left:7.5%">Please choose a NN type.</div></font></h3>
<form action = '{% url 'namespace_classifier:namespace_mnist:name_typeChoose' %}' method = 'post'>
    {% csrf_token %}
    <div style = "padding-left:9%">
    <font color="#B5C0C2" size = "4.5">
    <input type = 'radio' name = 'nn_type' value = 'BP' checked=""/> BP<br/>
    <input type = 'radio' name = 'nn_type' value = 'CNN' /> CNN<br/>
    <input type = 'radio' name = 'nn_type' value = 'CNN_SIGMOID' /> CNN_sigmoid_function<br/>
    <input type = 'radio' name = 'nn_type' value = 'CNN_DROPOUT' /> CNN_no_dropout_layer<br/>
    <input type = 'radio' name = 'nn_type' value = 'CNN_ARCH' /> CNN_architecture_advanced<br/>
    <input type = 'radio' name = 'nn_type' value = 'DNN' /> DNN<br/>
    <input type = 'radio' name = 'nn_type' value = 'ANN' /> ANN<br/><br/>
    <input type = 'submit' value = 'Submit' style = "font-size:20px"/>
    </font>
    </div>
</form>
<br>
<footer style="position:absolute; bottom:0;"><font color="B5C0C2" size = "3">Copyrights @ Zihan Rubio</font></footer>
</body>
</html>